<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap" rel="stylesheet">
    
    <title>Incremental</title>
</head>
<body>
    
    
    <div id="app">

        <!-- buttons for development -->
        
        <button @click="prestigeTwo = !prestigeTwo">Toggle {{player.currNames[2]}}</button>

        <div class="currency-container">
            <div class="genOne-currency">
                You have {{ format(player.currOne) }} {{player.currNames[0]}}s.
            </div>
            
            <div class="genTwo-currency" v-if="prestigeOne">
                You have {{ format(player.currTwo) }} {{player.currNames[1]}}s.
            </div>

            <div class="genThree-currency" v-if="prestigeTwo">
                You have {{ format(player.currThree) }} {{player.currNames[2]}}s.
            </div>

        </div>

        <div class="producers-container">
            <div class="generators-container">
                <div 
                class="generator genOne-generator" 
                
                v-for="generator in player.genOne">
                    <generator :generator="generator"/>
                </div>
                <add-generator-button target="genTwo" v-if="genCounterOne"/>
            </div>

            <div class="generators-container" v-if="prestigeOne">
                <div class="generator genTwo-generator" 
                
                v-for="generator in player.genTwo">
                    <generator :generator="generator"/>
                </div>
                <add-generator-button target="genTwo" v-if="genCounterTwo"/>
            </div>

            <div class="generators-container" v-if="prestigeTwo">
                <div class="generator genThree-generator" 
                
                v-for="generator in player.genThree">
                    <generator :generator="generator"/>
                </div>
                <add-generator-button target="genThree" v-if="genCounterThree"/>
            </div>
        </div>
        
    </div>

</body>

<script src="js/vue.js"></script>

<script src="js/generator.js"></script>

<script src="js/components/generator.js"></script>
<script src="js/components/add-generator-button.js"></script>


<script src="js/player.js"></script>
<script src="js/format.js"></script>
<script src="js/loop.js"></script>
<script src="js/format.js"></script>
<script src="js/index.js"></script>

</html>